body {font-family: 'Cormorant SC', serif;}

.referral-banner strong {
    letter-spacing: -0.5px;
}

b, strong {
    font-weight: bolder;
}

.referral-banner {font-size:1rem;line-height:1.3;text-align:center;padding:5px 5px 1px;background:#fff;color:#635da8; margin-top: 0}
.referral-banner strong {letter-spacing:-0.5px}
.referral-banner p {margin:0} @media (min-width: 992px){.referral-banner a{color:#fff}}.referral-banner .smaller{font-size:.75rem}@media (min-width: 992px){.referral-banner{background:#000;color:#fff}}@media (min-width: 992px)
}

.navbar {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;

}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  transition: all .5s ease-in-out;
}

.navbar-menu li a:hover {
opacity: 1;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;

}

.callback {
  margin-left: 30px;
  padding: 10px;
}

.navbar-brand {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  transition: all .5s ease-in-out;
}

#img-logo {
  max-width: 30%;
  min-width: 15px;
}

.navbar-brand:hover {
  color: springreen;
}

i {
  cursor: pointer;
}
